[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
shapely = "==2.0.4"
jupyterlab = "==4.2.1"

[dev-packages]
pylint = "==3.2.2"

[requires]
python_version = "3.12"
python_full_version = "3.12.3"
